<!DOCTYPE html>
<html lang="es">
<head>
    <title>CitaMed</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/bootstrap/bootstrap.min.css') }}">
</head>
<style>
    .modal-header, h4, .close {
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>
<body>
<body>
<div ng-app="Admin" ng-controller="AdminController">

    <div class="modal show" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <!--<img src="{{ asset('bundles/bwstudiosbcitamedfrontend/images/logo_bf.png') }}"/>-->
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">

                            <label for="user"><span class="glyphicon glyphicon-user"></span> User</label>
                            <input type="text" class="form-control" placeholder="Enter user" ng-model="user" id="user" autofocus
                                   required/>

                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-lock"></span> Password</label>
                            <input type="password" class="form-control" placeholder="Enter password" ng-model="password"
                                   id="password" value="" required/>
                        </div>

                        <button type="submit" class="btn btn-default " ng-click="login($event)"
                                style="background-color: #34DAFF;"><span style="color:white;"> Log in</span>
                        </button>
                        </br><br>
                        <div class="alert alert-danger " id="alert-danger">
                            <strong>Danger!</strong> No empty field is allowed!
                        </div>
                        <div class="alert alert-warning " id="alert-warning">
                            <strong>Warning!</strong> Incorrect user or password!
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap, Core, JavaScript, js, angularjs -->
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/bootstrap/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/angular.min.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/Constants.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/controller/AdminController.js') }}"></script>


</body>

</html>
