<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brain Freeze</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/bootstrap/bootstrap-table.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/bootstrap/bootstrap-modal.css') }}">
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/template/metisMenu.min.css') }}">
    <!-- Timeline CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/template/timeline.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/template/sb-admin-2.css') }}">
    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/template/morris.css') }}">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/template/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bwstudioscitamedfrontend/css/jquery/jquery.tag-editor.css') }}">

    {% block stylesheet %}{% endblock %}

</head>
<body style=" overflow-x: hidden;">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('bw_studios_toonix_front_dashboard')}}"><img src="{{ asset('bundles/bwstudioscitamedfrontend/images/logo_bf.png') }}" /> </a>
        </div>

        <!--<ul class="nav navbar-top-links navbar-right">
        <li class="dropdown" style="margin-right: 33px; margin-top: 20px;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color: rgba(255, 255, 255, 0);">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
        </ul>-->

        <div class="btn-group" style="float: right;">
            <button type="button" class="btn btn-default" onclick="logout();"><i class="fa fa-sign-out fa-fw"></i> Logout</button>
        </div>

        <!--<div style="float:right; margin:68px 12px 0px 0px;">
        <a onclick="logout();"><i class="fa fa-sign-out fa-fw"></i> Logout</a></div>-->

        <div class="navbar-default sidebar" role="navigation">

            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{  }}" style="color:#868686;"><i class="fa fa-globe"></i> Información1</a>
                    </li>
                    <li>
                        <a href="{{ }}" style="color:#868686;"><i class="fa fa-cutlery"></i> Información2</a>
                    </li>
                    <li>
                        <a href="{{  }}" style="color:#868686;"><i class="fa fa-futbol-o"></i> Información3</a>
                    </li>
                    <li>
                        <a href="{{ }}" style="color:#868686;"><i class="fa fa-puzzle-piece"></i> Información4</a>
                    </li>
                    <li>
                        <a href="{{ }}" style="color:#868686;"><i class="fa fa-flask"></i> Información5</a>
                    </li>
                  
                </ul>
            </div>

        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block title %}{% endblock %}</h1>
            </div>
        </div>

        <div class="row">{% block content %}{% endblock %}</div>
    </div>

</div>

<!-- jQuery -->
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/jquery/jquery.tag-editor.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/jquery/jquery.tag-editor.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/bootstrap/bootstrap.min.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/template/metisMenu.min.js') }}"></script>
<!-- Morris Charts JavaScript -->
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/template/raphael-min.js') }}"></script>
<!--<script src="../bower_components/morrisjs/morris.min.js"></script>-->
<!--<script src="../js/morris-data.js"></script>-->
<!-- Custom Theme JavaScript -->
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/template/sb-admin-2.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/bootstrap/bootstrap-table.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/bootstrap/bootstrap-modal.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/bootstrap/bootstrap-modalmanager.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/angular.min.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/Constants.js') }}"></script>
<script src="{{ asset('bundles/bwstudioscitamedfrontend/js/controller/BaseController.js') }}"></script>


{% block javascript %}{% endblock %}

</body>
</html>