@charset "UTF-8";
/* CSS Document */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background: url(https://todoc.co/images/2016-09-07.png) no-repeat center;
  background-size: cover;
}

h1 {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
  font-size: 7vw;
  font-weight: 800;
  letter-spacing: 8px;
  line-height: 70px;
  text-align: center;
  padding: 35px;
  margin: 0px;
  background: #0099cc;
  color: white;
  mix-blend-mode: multiply;
}