{
	"generalDataUser": {
		"name" : "{{ generalDataUser.name | raw }}",
		"lastName" : "{{ generalDataUser.lastName | raw }}",
		"typeId" : "{{ generalDataUser.typeId }}",
		"identity" : "{{ generalDataUser.identity }}",
		"gender" : "{{ generalDataUser.gender }}",
		"address" : "{{ generalDataUser.address }}",
		"email"	: "{{ generalDataUser.email }}",
		"cell" : "{{ generalDataUser.cell }}",
		"phone"	: "{{ generalDataUser.phone }}",
		"relationShip" : "{{ generalDataUser.relationShip }}"

	,"extraInformation": {

		"eps" : "{{ extraInformation.eps }}",
		"emergencyCallPerson" : "{{ extraInformation.emergencyCallPerson}}",
		"emergencyCellPhone" : "{{ extraInformation.emergencyCellPhone}}",
		"consultationReason" : "{{ extraInformation.consultationReason}}",


	  }
   }
}
