{% extends 'BwStudiosCitaMedFrontendBundle:Default:base.html.twig' %}

    {% block javascript %}
        <script src="{{ asset('bundles/bwstudioscitamedfrontend/js/controller/DashboardController.js') }}"></script>
    {% endblock %}

    {% block title %}
       Dashboard
    {% endblock %}

{% block content %}
<div ng-app="Dash" ng-controller="DashController" style="width: 90%; position: relative; margin: auto;" >
    <div class="row">
        <div class="col-lg-3 col-md-6" >
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#00d2ff; ">
                    <div class="row">
                        <div class="col-xs-3" style="color:#FFF;">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right" style="color:#FFF;">
                            <div class="huge" id="geo"></div>
                            <div>Geography</div>
                        </div>
                    </div>
                </div>
                <a href="topic/get/CT-001">
                <div class="panel-footer" style="color:#A9AFB1; ">
                       <span class="pull-right">Edit  <i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6" >
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#ff7313;" >
                    <div class="row">
                        <div class="col-xs-3" style="color:#FFF;" >
                            <i class="fa fa-cutlery fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right" style="color:#FFF;">
                            <div class="huge" id="food"></div>
                            <div >Food</div>
                        </div>
                    </div>
                </div>
                <a href="topic/get/CT-002">
                    <div class="panel-footer" style="color:#A9AFB1;" >
                        <span class="pull-right">Edit  <i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6" >
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#f8ec32;" >
                    <div class="row">
                        <div class="col-xs-3" style="color:#FFF;" >
                            <i class="fa fa-futbol-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right" style="color:#FFF;" >
                            <div class="huge"  id="spo"></div>
                            <div >Sports</div>
                        </div>
                    </div>
                </div>
                <a href="topic/get/CT-003">
                    <div class="panel-footer" style="color:#A9AFB1;" >
                        <span class="pull-right">Edit  <i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-lg-3 col-md-6" style="margin-left: 1px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#ff3c8e;">
                    <div class="row">
                        <div class="col-xs-3" style="color:#FFF;" >
                            <i class="fa fa-puzzle-piece fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right" style="color:#FFF;" >
                            <div class="huge"  id="art"></div>
                            <div>Art & Entertainment</div>
                        </div>
                    </div>
                </div>
                <a href="topic/get/CT-004">
                    <div class="panel-footer" style="color:#A9AFB1;" >
                        <span class="pull-right">Edit  <i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" >
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#5ef300;" >
                    <div class="row">
                        <div class="col-xs-3" style="color:#FFF;">
                            <i class="fa fa-flask fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right" style="color:#FFF;" >
                            <div class="huge"  id="sci"></div>
                            <div >Science</div>
                        </div>
                    </div>
                </div>
                <a href="topic/get/CT-005">
                    <div class="panel-footer" style="color:#A9AFB1;" >
                        <span class="pull-right">Edit  <i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" >
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#b036e6;" >
                    <div class="row">
                        <div class="col-xs-3" style="color:#FFF;" >
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right" style="color:#FFF;" >
                            <div class="huge"  id="lfs"></div>
                            <div>Life style</div>
                        </div>
                    </div>
                </div>
                <a href="topic/get/CT-006">
                    <div class="panel-footer" style="color:#A9AFB1;" >
                        <span class="pull-right">Edit  <i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}