<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<LINK REL=StyleSheet HREF="../../../../css/csscancel.css" TYPE="text/css" TITLE="Contemporaneo">
<title>Todoc. Cita confirmada</title>
</head>

<body>
<h1>{{ message }}</h1>
</body>
</html>
