<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{{ outlookLoginUri }}">Outlook Calendar</a>
<a href="{{ authGoogleUrl }}">Google Calendar</a>
</body>
</html>
